* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background: #fff;
}

.form-logo {
    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 720px;
    width: 100%;
    background: #fff;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    -webkit-border-radius:10px;
}

.form-logo .form-box {
    display: flex;
}

.form-box .form-detalhes {
    width: 100%;
    color: #9a4444;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #e4e4e5;
    border-radius: 10px 0px 0px 10px;
    -webkit-border-radius: 10px 0px 0px 10px;
    -moz-border-radius: 10px 0px 0px 10px;
    -ms-border-radius: 10px 0px 0px 10px;
    -o-border-radius: 10px 0px 0px 10px;
}

.form-box .form-detalhes h2 {
    font-size: 50px;
    padding: 20px 0 0 0;
}

.form-box h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-box .form-login {
    width: 100%;
    padding: 35px;
    border-radius: 0px 10px 10px 0px;
    background: #babaf9;
    -webkit-border-radius: 0px 10px 10px 0px;
    -moz-border-radius: 0px 10px 10px 0px;
    -ms-border-radius: 0px 10px 10px 0px;
    -o-border-radius: 0px 10px 10px 0px;
}

form .input-login {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .input-login input {
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 0.95rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #717171;
}

.input-login input:focus {
    border-color: #00bcd4;
}

.input-login input:is(:focus, :valid) {
    padding: 16px 15px 0;
}

form .input-login label {
    position: absolute;
    top: 50%;
    left: 15px;
    color: #717171;
    pointer-events: none;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.2s ease;
    -webkit-transition: 0.2s ease;
    -moz-transition: 0.2s ease;
    -ms-transition: 0.2s ease;
    -o-transition: 0.2s ease;
}

.input-login input:is(:focus, :valid) ~ label {
    color: #00bcd4;
    font-size: 0.75rem;
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);
}

form button {
    width: 100%;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500px;
    padding: 14px 0;
    border-radius: 3px;
    -webkit-border-radius: 10px;
    margin: 25px 0;
    color: #fff;
    cursor: pointer;
    background: #00bcd4;
}

form button:hover {
    background: #0097a7;
}